* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: gainsboro;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* sidebar */
.sidebar {
    width: 230px;
    background: white;
    padding: 16px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-header {
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}

.sidebar button {
    width: 100%;
    padding: 8px;
    text-align: left;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.new-chat-btn {
    background: none;
    margin-bottom: 32px;
}

.sidebar-btn {
    background: none;
}

.sidebar-btn:hover {
    background: gainsboro;
}

.new-chat-btn:hover {
    background: gainsboro;
}


/* chat Area */
.chat-container {
    flex: 1;
    display: flex;
    height: 100vh;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chatbox {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    margin-bottom: 120px;
}

/* messages */
.chat {
    display: flex;
    margin-bottom: 16px;
}

.chat.chat-outgoing {
    justify-content: flex-end;
}

.message-content {
    max-width: 80%;
    padding: 16px;
    border-radius: 8px;
    background: white;
}

.chat-outgoing .message-content {
    background: #4835c4;
    color: white;
}

/* Input Area */
.chat-input {
    padding: 16px;
    display: flex;
    gap: 8px;
    background: white;
    margin: 16px;
    border-radius: 8px;
    position: fixed;
    bottom: 0px;
    left: 265px;
    right: 390px;
}

.chat-input textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    resize: none;
    min-height: 70px;
}

#sendBTN {
    padding: 8px;
    background: #4835c4;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

/* jiggle button */
#sendBTN:active {
    transform: translateY(4px);
}

/* notes Panel */
.notes-panel {
    width: 380px;
    background: white;
    border-left: 1px solid gainsboro;
    transition: transform 0.25s ease-in-out;
    height: 100vh;
    overflow-y: auto;
}

/* hide or show notes panel */
.notes-panel.hidden {
    transform: translateX(100%);
}

.notes-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.notes-content {
    padding: 16px;
}

.notes-input {
    width: 95%;
    height: calc(100vh - 120px);
    padding: 8px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    resize: none;
}

/* scrollbar */
.chatbox {
    scrollbar-width: thin;
    scrollbar-color: gainsboro;
}